.main-container {
    top: 60px;
    position: relative;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 0;
}

.window {
    z-index: inherit;
    height: 100%;
    width: 100%;
    overflow: hidden;

}

.all-items-container {
    z-index: inherit;
    height: 100%;
    display: flex;

}

.arrow {
    z-index: inherit;
    cursor: pointer;
    color: #0C263F;

}