.headerLine{
    text-align: center;
    line-height: 1.3em;
    margin: 80px 20px 1px;
}
.line{
    white-space: pre-line;
    line-height: 1.3em;
    margin: 10px 30px;
}
.h3 {
    white-space: pre-line;
    line-height: 1.3em;
    margin: 20px 1px;
}
.Map{
    border-radius: 40px;
    height: 600px;
    width: 1200px;
    margin: 5px 150px


}