* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    display: flex;
    gap: 200px;
    width: 100%;
    height: 60px;
    padding: 10px 100px;
    box-sizing: border-box;
    top: 2px;

    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.button_catalog {
    position: absolute;
    top: 10px;
    left: 85px;
    height: 40px;
    width: 210px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.25);
    flex: none;
    order: 4;
    flex-grow: 0;
    z-index: 4;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;


}
.button_catalog:active {
    background: rgba(84, 154, 222, 0.7);
}
.icon__menu{

    color: #0C263F;
    position: absolute;
    margin: 2px -80px;
    height: 20px;
    font-size: 30px;
    width: 105px;
    text-align: center;
    text-overline-color: #0C263F;
}

.Search {
    position: absolute;
    width: 529px;
    height: 40px;
    left: 455px;
    top: 10px;
    background: #DCDCDC;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.54);
    border: none;
    border-radius: 40px;
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}
.input_search{
    background: #DCDCDC;
    border: none;
    width: 400px;
    height: 26px;
    align-items: center;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.icon__search{
    color: #949494;
    position: absolute;
    margin: 2px 10px;
    height: 20px;
    font-size: 28px;
}
.button_shop{
    color: #0C263F;
    border: none;
    position: absolute;
    left: 1283px;
    margin: 7px 10px 100px;
    font-size: 28px;
    cursor: pointer;
}

.button_shop:active {
    background: white;
}
.button__account {
    color: #0C263F;
    border: none;
    position: absolute;
    left: 1365px;
    margin: 7px 10px 100px;
    font-size: 28px;
    cursor: pointer;
}