* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 2;
}
.App{
    display: flex;
    position: fixed;
    gap: 200px;
    width: 100%;
    height: 60px;
    padding: 10px 100px;
    box-sizing: border-box;
    top: 0;
    z-index: 2;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.button_catalog {
    position: absolute;
    top: 2px;
    left: 10px;
    height: 40px;
    width: 210px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.25);
    flex: none;
    order: 4;
    flex-grow: 0;
    z-index: 4;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}
.button_catalog_white{
    height: 40px;
    width: 210px;
    border: none;
    z-index: 2;
}
.button_catalog_dropdown{
    position: relative;
    display: inline-block;
    z-index: 2;
}
.dropdown-content{
    position: absolute;
    display: none;
    width: 340px;
    height: 290px;
    left: 10px;
    top: 3px;
    background: rgba(238, 238, 238, 0.9);
    box-shadow: 0 8px 16px 4px rgba(0, 0, 0, 0.25);


    border-radius: 35px;
    z-index: 2;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 2;
}


/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {background: rgba(101, 157, 210, 0.45);
    border-radius: 40px }

/* Показать выпадающее меню при наведении курсора */
.button_catalog_dropdown:hover .dropdown-content {display: block;}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.button_catalog_dropdown:hover .button_catalog {box-shadow: 0 0 0 0 rgba(0,0,0,0); height: 40px; border-radius: 34px;  }
/* Line 2 */


.icon__menu{
    z-index: 2;
    color: #0C263F;
    position: absolute;
    margin: 2px -80px;
    height: 20px;
    font-size: 30px;
    width: 105px;
    text-align: center;
    text-overline-color: #0C263F;
}

.Search {
    position: absolute;
    width: 529px;
    height: 40px;
    left: 455px;
    top: 10px;
    background: #DCDCDC;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.54);
    border: none;
    border-radius: 40px;
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}
.input_search{
    background: #DCDCDC;
    border: none;
    width: 400px;
    height: 26px;
    align-items: center;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.icon__search{
    color: #949494;
    position: absolute;
    margin: 2px 10px;
    height: 20px;
    font-size: 28px;
}
.button_shop{
    color: #0C263F;
    border: none;
    position: absolute;
    left: 1283px;
    margin: 7px 10px 100px;
    font-size: 28px;
    cursor: pointer;
}

.button_shop:active {
    background: white;
}
.button__account {
    color: #0C263F;
    border: none;
    position: absolute;
    left: 1365px;
    margin: 7px 10px 100px;
    font-size: 28px;
    cursor: pointer;
}