.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.item-1 {
  background-color: #DEDEDE;
  color: olive;
}

.item-2 {
  background-color: #659DD2;;
  color: #659DD2;
}

.item-3 {
  background-color: rgba(255, 88, 93, 1);
  color: aquamarine;
}
.h1{
  position: relative;
  width: 405px;
  height: 142px;
  left: 560px;
  top: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 71px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #0C263F;
}

